  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
  }
  
  #navbar {
    background-color: rgb(160, 220, 255);
    grid-column: 1 / 7;
    grid-row: 1;
    padding: 20px;
  }
  
  #sidebar {
    writing-mode: vertical-rl;
    background-color: rgb(217, 255, 161);
    grid-column: 1;
    grid-row: 2 / 6;
    padding: 20px;
  }
  
  #title {
    background-color: rgb(255, 255, 147);
    grid-column: 2 / 7;
    grid-row: 2;
    padding: 20px;
  }
  
  #content {
    background-color: rgb(255, 133, 133);
    grid-column: 2 / 7;
    grid-row: 3 / 6;
    padding: 20px;
  }
  
  #footer {
    background-color: rgb(255, 164, 255);
    grid-column: 1 / 7;
    grid-row: 6;
    padding: 20px;
  }