.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "Winter Spring Summer Fall";
    text-align: center;
    gap: 0.1px;
  }

.Winter {
  background-color: lightskyblue;
  padding: 60px;
}

.Spring {
  background-color: rgb(219, 255, 166);
  padding: 60px;
}

.Summer {
  background-color: rgb(255, 255, 145);
  padding: 60px;
}

.Fall {
  background-color: rgb(255, 150, 150);
  padding: 60px;
}